processed_data/0186/0186_fingerprints_pubchem_canonical_success.tsv filter=lfs diff=lfs merge=lfs -text
*.tsv !text !filter !merge !diff
processed_data/0186/0186_descriptors_canonical_success.tsv filter=lfs diff=lfs merge=lfs -text
*.txt !text !filter !merge !diff
processed_data/0186/0186_descriptors_canonical_success.txt filter=lfs diff=lfs merge=lfs -text
